<section id="about-us" class="col-padtop wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-padright-none wow fadeInLeft"><img src="http://www.placehold.it/587x500" alt="Saloon" /></div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-padleft-none wow fadeInRight"><img src="http://www.placehold.it/587x250" alt="Saloon" /></div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-padleft-none wow fadeInRight"><img src="http://www.placehold.it/587x250" alt="Saloon" /></div>
    </div>
  </div>
</section>
