<footer class="section-footer">
    <section class="footer-first">
        <div class="container">
            <div class="footer-title animated zoomIn wow animated" data-wow-delay=".5s">
                <h2 class="center">Lotus 2 Salon</span></h2>
            </div>
            <div class="footer-social-area animated zoomIn wow animated" data-wow-delay=".9s">
                <ul class="social footer-social">
                    <li><a href="https://www.yelp.com/biz/ucr-coin-laundry-riverside"><i class="fa fa-yelp"></i></a></li>
                    <!-- <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li> -->
                    <!-- <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li> -->
                    <!-- <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li> -->
                    <!-- <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li> -->
                    <!-- <li><a href="#"><i class="zmdi zmdi-pinterest-box"></i></a></li> -->
                    <!-- <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li> -->
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-second">
        <div class="container">
            <div class="bottom-footer">
                <p>© Footer Text here</p>
            </div>
        </div>
    </section>
</footer>
