<footer class="section-footer layout-padding">
    <section class="footer-second">
        <div class="container">
            <div class="bottom-footer">
                <p>Website by
                  <a href="https://www.linkedin.com/in/dbernal91" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i> Diego Bernal
                  </a>
                  | <a href="https://www.facebook.com/isaias.dominguez.31" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i> Isaias Dominguez
                  </a> | Pictures by <a href="#">Albert Morales</a>
                  | &copy; 2017 Lotus 2 Salon </p>
            </div>
        </div>
    </section>
</footer>
