<header id="pagetop">
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo page-scroll no-padding"><a href="#pagetop"><img class="lotus" src="assets/images/lotus 2.png" alt="logo"></a></div>
            <div class="mm-toggle-wrap">
              <div class="mm-toggle"> <i class="icon-menu"><img src="assets/images/menu-icon.png" alt="Menu"></i></div>
            </div>
            <ul class="menu">
              {% for item in site.data.nav.main %}
                <li class="page-scroll">
                  <a href="{{item.href}}">{{item.text}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </nav>
  </header>
