<section id="meet-our-team" class="wow fadeInUp col-padtop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 layout-padding">
                <h2 class="center section-title">Meet our Expert Stylists</h2>
                <div class="center ourteamd">
                    <p>Whether it is a special occasion or a revitalization, we pride ourselves in the ability to provide the ultimate
                 salon experience with the help of our dedicated team of experts.  With the help of our team, we are able offer diverse styling options for for men and women.</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="responsive image-fill">
                  {% for member in site.data.team %}
                    <div class="col-xs-12 col-sm-3 col-md-4 card-member no-padding">
                        <div class="third-effect card-image">
                            {% if member.imagePath.size > 0 %}
                              <img src="{{member.imagePath}}" class="img-responsive" alt="Our Team">
                            {% else %}
                              <img src="assets/images/default-user-image.png" class="img-responsive" alt="Our Team">
                            {% endif %}
                            {% if member.socialMedias.size > 0 %}
                            <div class="mask">
                              {% for platform in member.socialMedias %}
                                <a class="{{platform.class}}" target="_blank" href="{{platform.link}}">{{platform.platform}}</a>
                              {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="team card-content col-xs-12">
                          <p class="center member-description">{{member.title}}</p>
                            <h3 class="center member-name">{{member.firstName}} {{member.lastName}}</h3>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
