<section id="meet-our-team" class="wow fadeInUp col-padtop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h2>Meet our Expert Stylists</h2>
                <div class="ourteamd">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet nisi erat
                        et lectus. Nullam non neque eros. Pellentesque nec vulputate eros.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="responsive">
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Sara Anderson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Medona Johnson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>

                        <div class="team">
                            <h3>Andria Joseph</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Sara Anderson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Medona Johnson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>

                        <div class="team">
                            <h3>Andria Joseph</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Sara Anderson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Medona Johnson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>

                        <div class="team">
                            <h3>Andria Joseph</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Sara Anderson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>
                        <div class="team">
                            <h3>Medona Johnson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>
                    <div>
                        <div class="third-effect">
                            <img src="http://www.placehold.it/384x444" class="img-responsive" alt="Our Team">
                            <div class="mask">
                                <a href="#">Facebook</a>
                                <a href="#" class="twitter">Twitter</a>
                            </div>
                        </div>

                        <div class="team">
                            <h3>Andria Joseph</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
