<section id="meet-our-team" class="wow fadeInUp col-padtop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 layout-padding">
                <h2 class="center">Meet our Expert Stylists</h2>
                <div class="center ourteamd">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet nisi erat
                        et lectus. Nullam non neque eros. Pellentesque nec vulputate eros.</p>
                </div>
            </div>
            <div class="col-xs-12 layout-padding">
                <div class="responsive">
                  {% for member in site.data.team %}
                    <div>
                        <div class="third-effect">
                            {% if member.imagePath.size > 0 %}
                              <img src="{{member.imagePath}}" class="img-responsive" alt="Our Team">
                            {% else %}
                              <img src="assets/images/default-user-image.png" class="img-responsive" alt="Our Team">
                            {% endif %}
                            {% if member.socialMedias.size > 0 %}
                            <div class="mask">
                              {% for platform in member.socialMedias %}
                                <a class="{{platform.class}}" href="{{platform.link}}">{{platform.platform}}</a>
                              {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="team">
                            <h3 class="center">{{member.firstName}} {{member.lastName}}</h3>
                            <p class="center">{{member.description}}</p>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
