<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="js/jquery.1.11.2.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/function.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scorll.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/slick.js"></script> 
<script src="js/menu.js"></script>
<script src="js/ios-timer.js"></script>
<script src="js/jquery.fencybox.js"></script>
<script src="js/jquery.portfolio.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.validate.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
