<section id="services" class="wow fadeInUp col-padtop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center title">
                <h2 class="section-title">Our Services</h2>
                <div class="layout-padding">
                <p>Within our welcoming atmosphere, we specialize in a wide variety of haircut and styling options for both men and women.
                  In addition, we offer hair removal services conducted by trained and licensed professionals to insure customer satisfaction(Visit us for pricing details).</p>
                  </div>
            </div>
            </div>
            <div class="col-xs-12 filter btn-group no-padding">
                <ul>
                  <li><a href="#" data-filter=".coloring" class="active">Coloring</a></li>
                    <li><a href="#" data-filter=".Wcut">Cutting</a></li>
                    <li><a href="#" data-filter=".Bspa">Styling</a></li>
                    <li><a href="#" data-filter=".products">Products</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="portfoliodiv">
              {% for item in site.data.services.services %}
                      {% if item.type == "coloring" %}
                      <div class="col-25 coloring">
                          <a class="fancybox" href="{{item.picture}}" data-fancybox-group="gallery">
                              <div class="hover">
                                <img src="{{item.picture}}" alt="Portfolio" />
                                  <div class="mask-img">
                                      <div class="hvrlink">
                                          <h3>coloring</h3>
                                          <p>Visit us or call to make an appointment.</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% elsif item.type == "styling" %}
                      <div class="col-25 Bspa">
                          <a class="fancybox" href="{{item.picture}}" data-fancybox-group="gallery">
                              <div class="hover">
                                <img src="{{item.picture}}" alt="Portfolio" />
                                  <div class="mask-img">
                                      <div class="hvrlink">
                                          <h3>Style</h3>
                                          <p>Visit us or call to make an appointment.</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% elsif item.type == "cutting" %}
                      <div class="col-25 Wcut">
                          <a class="fancybox" href="{{item.picture}}" data-fancybox-group="gallery">
                              <div class="hover">
                                <img src="{{item.picture}}" alt="Portfolio" />
                                  <div class="mask-img">
                                      <div class="hvrlink">
                                          <h3>Cutting</h3>
                                          <p>Visit us or call to make an appointment.</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% elsif item.type == "product" %}
                      <div class="col-25 products">
                          <a class="fancybox" href="{{item.picture}}" data-fancybox-group="gallery">
                              <div class="hover">
                                <img src="{{item.picture}}" alt="Portfolio" />
                                  <div class="mask-img">
                                      <div class="hvrlink">
                                          <h3>Product</h3>
                                          <p>See store for pricing.</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                <!-- <div class="col-25 coloring manucuring">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Cut</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 Wcut manucuring">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x450" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Style</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 coloring Hspa">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Cut</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 Wcut">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x450" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Style</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 coloring">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Cut</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 Bspa">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Style</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25 Bspa">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Cut</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-25">
                    <a class="fancybox" href="images/gallery/large/280x375.png" data-fancybox-group="gallery">
                        <div class="hover">
                            <img src="http://www.placehold.it/280x375" alt="Portfolio" />
                            <div class="mask-img">
                                <div class="hvrlink">
                                    <h3>Style</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</section>
