<div class="sliderfull">
  <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
      <ul>
        {% for slide in site.data.slider %}
        <li data-index="rs-{{slide.dataIndex}}" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
          data-saveperformance="off" data-title="Intro" data-description="">
          <img src="{{slide.imgPath}}" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
        </li>
        {% endfor %}
      </ul>
      <div class="tp-static-layers"></div>
      <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
    </div>
  </div>
</div>
<section id="about-us" class="slider-titile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="time-display" class="titile-bg layout-padding center">
        </div>
        <div class="white-bg">
          <p> Come and enjoy an excellent salon experience only Lotus 2 Hair Salon can provide.  We are staffed by trained professionals specializing in a wide variety of haircuts and styles.
            In addition, we offer high quality hair products for both men and women ranging from hair gels to treatment products.  At Lotus 2 Hair Salon, we are confident in our ability to provide proper customer care and satisfaction.  </p>
            <p class="purple-text">(Seeking Barbers and Hair Stylists, if you would like to rent a station please contact us.)</p>
        </div>
      </div>
    </div>
    <div class="row layout-padding">
      <div class="col-xs-12 image-grid">
        <div class="col-sm-6 col-md-6 col-lg-6 col-padright-none wow fadeInLeft cell-1 image-fill" style="height: 500px; background-image:url('assets/images/Misc-1.jpg')"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-padleft-none wow fadeInRight cell-2 image-fill hidden-xs" style="height: 250px; background-image:url('assets/images/Tools-3.jpg'); background-position: center top;"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-padleft-none wow fadeInRight cell-3 image-fill hidden-xs" style="height: 250px; background-image:url('assets/images/Misc-2.jpg')"></div>
      </div>
    </div>
  </div>
</section>
