<section class="testimonialdiv col-padtop wow fadeInUp" id="testimonials">
    <div class="container">
        <div class="testimonilabg">
            <h2>Testimonials</h2>
            <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  {% for review in site.data.reviews %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <div class="img-left">
                          {% if review.reviewerImage.size > 0 %}
                            <img src="http://www.placehold.it/150x150" alt="Testimonial" class="img-responsive">
                          {% else %}
                            <img src="assets/images/default-user-image.png" alt="Testimonial" class="img-responsive">
                          {% endif %}
                        </div>
                        <div class="col-pad4 tbg-white">
                            <h4>{% if review.reviewerName.size > 0 %}{{review.reviewerName}}{% else %}Client{% endif %}</h4>
                            <span>
                                {% for star in (1..review.starRating) %}
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                            </span>
                            <p>{{review.reviewText}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="carousel-control">
                    <a class="left" href="#myCarousel-2" role="button" data-slide="prev"></a>
                    <a class="right" href="#myCarousel-2" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</section>
