<section class="testimonialdiv col-padtop wow fadeInUp" id="testimonials">
    <div class="container">
        <div class="testimonilabg">
            <h2>Testimonials</h2>
            <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="img-left"><img src="http://www.placehold.it/150x150" alt="Testimonial" class="img-responsive"></div>
                        <div class="col-pad4 tbg-white">
                            <h4>Free hair treatment</h4>
                            <h6>Advertising Model</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet
                                nisi erat et lectus.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-left"><img src="http://www.placehold.it/150x150" alt="Testimonial" class="img-responsive"></div>
                        <div class="col-pad4 tbg-white">
                            <h4>Monday Makeup</h4>
                            <h6>Advertising Model</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet
                                nisi erat et lectus.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-left"><img src="http://www.placehold.it/150x150" alt="Testimonial" class="img-responsive"></div>
                        <div class="col-pad4 tbg-white">
                            <h4>Free hair treatment</h4>
                            <h6>Advertising Model</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet
                                nisi erat et lectus.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-left"><img src="http://www.placehold.it/150x150" alt="Testimonial" class="img-responsive"></div>
                        <div class="col-pad4 tbg-white">
                            <h4>Monday Makeup</h4>
                            <h6>Advertising Model</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue. Nam auctor nisi est, nec tempus lacus viverra nec. Nullam cursus, neque non congue aliquam, mauris massa consequat sem, ut laoreet
                                nisi erat et lectus.</p>
                        </div>
                    </div>

                </div>
                <div class="carousel-control">
                    <a class="left" href="#myCarousel-2" role="button" data-slide="prev"></a>
                    <a class="right" href="#myCarousel-2" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</section>
