#about-us {
  .image-grid {
    .cell-1{
      height: 500px !important;
      width: 587px;
    }
    .cell-2{
      height: 250px;
      width: 587px;
    }
    .cell-3{
      height: 250px;
      width: 587px;
    }
  }
}
