nav {
  background-color: rgba(0,0,0,.9);
}

ul.menu li {
  &.active {
    a {
      color: #fff !important;
      background: $primary-color !important;
    }
  }

  &:hover {
    a {
      color: #fff;
      background: $primary-color;
    }
  }
}

body {
  background-color: #eee;
  color: rgba(0,0,0,.84);
}

h2.section-title {
  color: $primary-color;
  font-weight: normal;
}

footer {
  background-color: #000;
  color: #eee;

  a {
    &:hover {
      color: $primary-color;
    }
    color: $primary-color;
  }
}

#time-display {
  h1, h2, h3, h4, h5, h6{
    line-height: 4.25rem;
    width: 100%;
  }

  .today {
    font-size: 3rem;
  }

  .status {
    font-size: 6rem;
  }

  .time {
    // @media only screen and (min-width : 1025px) {
    //     max-height: 8rem;
    // }
    font-family: inherit;
    color: $primary-color;
    font-size: 3.25rem;
  }
}

.white-bg {
  padding: 15px;
}

.testimonilabg {
  height: 50rem;
}

.section {
  padding-top: 150px;
}

.loader {
  color: #eee;
}

.filter ul li a {
  color: #fff;
  background: #000;
}

.filter ul li a.active,
.filter ul li a:focus,
.filter ul li a:hover {
  background: $primary-color;
  color: #fff;
}

.titile-bg {
  padding: 28px;
}
