#meet-our-team {
  .card-member {
    margin: 3px;
    background-color: rgba(0,0,0,.80);
    height: 44rem;
    border-radius: 0!important;

    .card-image {
      img {
        width: 100%;
      }
    }

    .card-content {
      height: 50%;
    }

    .member-name {
      color: #fff;
      font-weight: normal;
    }

    .member-description {
      color: #fff;
    }
  }

  .responsive {
    &.image-fill{
      overflow: visible;
    }
    height: 80vh;
    margin: 0 !important;
    background-image: url('../assets/images/salon-3.jpg');
    @media only screen and (min-width : 480px) {
      padding: 100px 100px;
    }
    @media only screen and (max-width : 480px) {
      background-image: url("");
    }
  }
}
